* {
  padding: 0px;
  margin: 0px;
  /* width: 100%;
  height: 100%; */
  /* background-color: black;
  color: white; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: Impact, Arial; */
  font-weight: 300;
  /* font-family: "Press Start 2P", cursive; */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  overflow: hidden;
}
html {
  padding: 0px;
  margin: 0px;
  /* width: 1920px;
  height: 1080px; */
}

body {
  background-color: black;
  /* background-color: red; */
  color: white;
  /* width: 1920px;
  height: 1080px;
  overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.overDiv {
  width: 100%;
  height: 100%;
  /* 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#phaser-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;

  /* width: 1920px;
  height: 1080px; */

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */

  /* overflow: hidden; */

  z-index: 1;
}

#root {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.top-bar {
  position: absolute;
  top: 0%;
  border: 0%;

  height: 6%;
  width: 100%;

  /* border: 1% dashed black; */
  background-color: rgba(0, 0, 0, 0);

  padding: 0.5% 5.5% 0.5% 0.5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: 2s ease;
}

.top-bar:hover {
  background-color: black;
  border: 0;
  transition: 0.1s ease;
}

.top-bar:hover > .linkTag,
.top-bar:hover > .question-mark {
  /* display: block; */
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  filter: opacity(1);
  transition: 0.1s ease;
}

.question-mark {
  height: 100%;
  justify-self: flex-start;
  filter: opacity(0.3);
  transition: 2s ease;
}

#link {
  border: 0;
  margin: 0;
  padding: 0;
}

.linkTag {
  background-color: transparent;
  transition: 0s ease;
  /* display: none; */
  border: 0;
  padding: 0% 1%;
  color: rgba(255, 255, 255, 0);

  font-size: 1.3vw;
  transition: 2s ease;
}

.popup {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0);
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3%;

  /* cursor: pointer; */
  /* cursor: context-menu; */
  z-index: 2;
  overflow: hide;
}

.popup > p {
  font-size: 1.3vw;
}
.popup > ul > li {
  font-size: 1vw;
}
.popup > a {
  padding: 1.5% 4%;
  font-size: 1.3vw;
  margin-bottom: 1%;
  color: white;
}
.popup > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.kirbyNiembro {
  margin: 1%;
}
#move {
  width: 70%;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 1% 5% 0% 5%;
  margin: 0% 0% 1% 0%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#move > h5 {
  font-size: 1.5vw;
}
.rulesOutline {
  width: auto;
  /* max-width: 100%; */
  height: 100%;
  /* max-height: 100%;  */
  background-color: rgb(255, 255, 255);
  border-radius: 3vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hide;
}

#RulesN64Image {
  height: 100%;
  /* width: 90%; */
  overflow: hide;
}
.startClassDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.playerChoices {
  flex: 3;
  /* height: 95%; */
  width: 95%;
  /* background-color: magenta; */
  margin-bottom: 1%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.playerChoice {
  flex: 1;
  height: 100%;
  padding: 0% 0.5% 0% 0.5%;
  margin-bottom: 2%;
  font-size: 3vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: purple; */
}
.playerChoice > button {
  width: 100%;
  height: 22%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
/* .playerChoiice > button > span {
  font-size: 4vh;
} */

.playLink {
  height: 15%;
  width: 90%;
  margin-bottom: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.b-start {
  background-color: hsl(200, 70%, 10%);
  border: 0px solid;
  /* border-top-color: hsl(200, 30%, 15%);
  border-left-color: hsl(200, 30%, 15%);
  border-bottom-color: hsl(200, 30%, 3%);
  border-right-color: hsl(200, 30%, 3%); */
  color: rgba(255, 255, 255, 1);
  /* color: rgba(0, 0, 0, 1); */
  font-size: 3vw;
  padding: 0.5% 3% 0% 3%;
  margin: 0% 0% 1% 0%;
  transition: 0.5s ease;
  /* border-radius: 50px; */
  /* animation: 3s opacityAnimation ease both; */
}
.b-start:hover {
  transition: 0s ease;
  /* background-image: linear-gradient(
    to right,
    hsl(200, 100%, 20%),
    hsl(250, 100%, 20%)
    ); */

  background-color: hsl(200, 70%, 15%);
  border: 0px solid;
  /* border-top-color: hsl(200, 30%, 20%);
  border-left-color: hsl(200, 30%, 20%);
  border-bottom-color: hsl(200, 30%, 6%);
  border-right-color: hsl(200, 30%, 6%); */
  /* border: 2px solid;
    border-bottom-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    border-top-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1); */

  /* color: rgba(255, 255, 255, 1); */

  /* animation: startAnimation 0.1s linear infinite; */
  /* box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.25); */
}
.b-start:active {
  transition: 0s ease;
  /* background-image: linear-gradient(
    to right,
    hsl(200, 100%, 20%),
    hsl(250, 100%, 20%)
  ); */
  color: grey;
  background-color: hsl(200, 70%, 05%);
  border: 0px solid;
  /* border-bottom-color: hsl(200, 30%, 20%);
  border-right-color: hsl(200, 30%, 20%);
  border-top-color: hsl(200, 30%, 6%);
  border-left-color: hsl(200, 30%, 6%); */
  /* border: 2px solid;
  border-bottom-color: rgba(255, 255, 255, 1);
  border-right-color: rgba(255, 255, 255, 1);
  border-top-color: rgba(255, 255, 255, 1);
  border-left-color: rgba(255, 255, 255, 1); */

  /* color: rgba(255, 255, 255, 1); */

  /* animation: startAnimation 0.1s linear infinite; */
  /* box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.25); */
}
@keyframes startAnimation {
  0% {
    filter: hue-rotate(0deg);
    /* transform: translateX(5px); */
  }
  50% {
    filter: hue-rotate(180deg);
    /* transform: translateX(-5px); */
  }
  100% {
    filter: hue-rotate(360deg);
    /* transform: translateX(5px); */
  }
}
.b-dark {
  background-color: hsl(200, 0%, 10%);
  /* border-color: transparent;
  border: none; */
  color: rgba(255, 255, 255, 1);
  
  border: 0px solid;
  /* border-top-color: hsl(200, 0%, 15%);
  border-left-color: hsl(200, 0%, 15%);
  border-bottom-color: hsl(200, 0%, 5%);
  border-right-color: hsl(200, 0%, 5%);
  transition: 0.5s ease; */
}
.b-dark:hover {
  background-color: hsl(200, 0%, 20%);
  border: 0px solid;
  /* border-top-color: hsl(200, 0%, 25%);
  border-left-color: hsl(200, 0%, 25%);
  border-bottom-color: hsl(200, 0%, 15%);
  border-right-color: hsl(200, 0%, 15%);
  transition: 0s ease; */
}
.b-dark:active {
  background-color: hsl(200, 0%, 10%);
  /* border-color: transparent;
  border: none; */
  color: grey;

  border: 0px solid;
  /* border-bottom-color: hsl(200, 0%, 15%);
  border-right-color: hsl(200, 0%, 15%);
  border-top-color: hsl(200, 0%, 5%);
  border-left-color: hsl(200, 0%, 5%); */
}
.b-black {
  background-color: transparent;
  border-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}
.b-black:hover {
  background-color: rgba(255, 255, 255, 0.01);
}
.b-black:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.02);
}

.startTitle {
  /* height: 70%; */
  flex: 2.3;
  /* width: 50vw; */
  width: 100%;
  margin-top: 3%;
  color: white;
  /* background-color: green; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  /* cursor: pointer; */
  animation: titleInit 3s ease-out both;
}
@keyframes titleInit {
  0% {
    transform: translateY(130px);
    filter: grayscale(1) brightness(3) brightness(0);
  }
  50% {
    transform: translateY(130px);
    filter: grayscale(1) brightness(3) brightness(0.1);
  }
  60% {
    filter: grayscale(1) brightness(3) brightness(0.2);
  }
  70% {
    filter: grayscale(1) brightness(3) brightness(0.7);
    transform: translateY(0px);
  }
  90% {
    filter: grayscale(1) brightness(3) brightness(1);
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
    filter: grayscale(0) brightness(1);
    transition: 0.2s ease;
  }
}
.black-hiding-div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background-color: black;
  animation: revealAnimation 2s ease-out both;
}

@keyframes revealAnimation {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.startGif {
  width: 50vw;
}

.startTitle > h1 {
  margin: 0;
  padding: 0;
  font-size: 8vw;
  animation: titleGrow 3s linear both;
}
@keyframes titleGrow {
  0% {
    /* transform: scale(0.8); */
    filter: brightness(0);
  }
  80% {
    /* transform: scale(0.8); */
    filter: brightness(0.5);
  }
  90% {
    /* transform: scale(0.8); */
    filter: brightness(0.5);
  }
  100% {
    /* transform: scale(0.8); */
    filter: brightness(1);
  }
}

/* .startTitle:hover {
  filter: grayscale(0) brightness(1);
  transition: 0.2s ease;
} */
.startTitle:active {
  height: 50%;
  transition: 0.1s ease;
  animation: titleShake 0.07 infinite both;
  /* animation-name: titleShake;
  animation-duration: 0.07s;
  animation-iteration-count: infinite; */
}

@keyframes titleShake {
  0% {
    filter: brightness(0.3) sepia(2) hue-rotate(0deg) brightness(2.2)
      contrast(1.8);
    transform: rotateZ(1deg);
  }
  50% {
    filter: brightness(0.3) sepia(2) hue-rotate(180deg) brightness(2.2)
      contrast(1.8);
    transform: rotateZ(-1deg);
  }
  100% {
    filter: brightness(0.3) sepia(2) hue-rotate(360deg) brightness(2.2)
      contrast(1.8);
    transform: rotateZ(1deg);
  }
}
.startTitleWrapper1:active {
  transition: 0.1s ease;
  animation-name: wrapperAnimation1;
  animation-duration: 0.09s;
  animation-iteration-count: infinite;
}
.startTitleWrapper2:active {
  transition: 0.1s ease;

  animation-name: wrapperAnimation2;
  animation-duration: 0.03s;
  animation-iteration-count: infinite;
}

@keyframes wrapperAnimation1 {
  0% {
    filter: hue-rotate(0deg);
    transform: translateX(5px);
  }
  50% {
    filter: hue-rotate(180deg);
    transform: translateX(-5px);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: translateX(5px);
  }
}
@keyframes wrapperAnimation2 {
  0% {
    filter: hue-rotate(0deg);
    transform: translateY(5px);
  }
  50% {
    filter: hue-rotate(180deg);
    transform: translateY(-5px);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: translateY(5px);
  }
}

/* .startButton {
  flex: 0.7;
  width: 20%;
  padding: 0;
  margin-bottom: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startButton > span {
  margin: 0;
  padding: 0;
  font-size: 2vw;
} */

.playerChar {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.startImageWrapper {
  width: 100%;
  height: auto;
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.startCharacterId {
  align-self: center;
  z-index: 3;
}
.startImage {
  /* width: 70%; */
  /* height: auto; */
  /* background-color: green; */
  margin-bottom: 2%;
  /* padding: 2%; */
  /* transform: scale(.5); */
}

/* /////////////////////////////
//// SPINNER
///////////////////////////// */

.loader {
  /* position: fixed; */
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  /* background: radial-gradient(#324, #000); */
  /* background: radial-gradient(#fff, #000); */
  overflow: hidden;
  right: 0;
  top: 0;
  /* background-color: green; */
  /* border: 3px dashed lime; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* z-index: -1; */
  z-index: 4;
}

.loader-inner {
  /* position: absolute; */
  position: relative;
  width: 100px;
  /* bottom: 0; */
  height: 120px;
}

.loading-table-wrapper {
  height: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-table {
  position: relative;
  /* top: 60%; */
  /* left: 50%; */
  /* transform-origin: 50% 50%; */
}

.loader-line-wrap {
  animation: spin 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
  /* border: 3px dashed lime; */
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  /* border: 3px dashed lime; */
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}
.loader-line-wrap:nth-child(6) {
  animation-delay: -300ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: #e81224;
  /* border-color: hsl(0, 80%, 70%); */
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #0078d7;
  /* border-color: hsl(60, 80%, 65%); */
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #fff100;
  /* border-color: hsl(120, 80%, 65%); */
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: #16c60c;
  /* border-color: hsl(180, 80%, 60%); */
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 75%);
  height: 34px;
  width: 34px;
  top: 34.5px;
}
.loader-line-wrap:nth-child(6) .loader-line {
  border-color: hsl(300, 80%, 70%);
  height: 20px;
  width: 20px;
  top: 41px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.firstLoaderP {
  width: 30%;
  margin: 3% 0% 0% 0%;
  /* border: 1px dashed lime;  */
}

.secondLoaderP {
  margin: 0% 0% 0% 15%;
  /* border: 1px dashed lime;  */
}

/* /////////////////////////////
//// SPINNER
///////////////////////////// */

/* * ///////////////////////////////////////////////////////////////////////// */
.spinnerShrink {
  transform: scale(0.5);
  overflow: visible;
  margin-bottom: 4%;
}
.spinnerOuterOuter {
  position: relative;
  top: 80px;
  width: 160px;
  height: 160px;

  /* animation: spinnerAnimation0 33s infinite ease; */
  animation: spinnerAnimation0 40.3s infinite ease;
  transform-style: preserve-3d;
  transition: 3s ease;

  overflow: visible;
  /* border: 3px dashed lime; */
}
.spinnerOuter {
  width: 160px;
  height: 160px;

  /* animation: spinnerAnimation1 211s infinite ease; */
  animation: spinnerAnimation1 125.3s infinite ease;
  transform-style: preserve-3d;

  overflow: visible;
  /* border: 3px dashed lime; */
}
.spinner {
  width: 160px;
  height: 160px;
  /* animation: spinnerAnimation2 23s infinite ; */
  animation: spinnerAnimation2 138.3s infinite ease;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: visible;
  /* border: 3px dashed lime; */
}

.cube_side_inside {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 0%;
  background-blend-mode: multiply;
}

.cube_side {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.1);

  position: absolute;
  height: 100%;
  width: 100%;

  box-shadow: 0px 0px 0px 0px rgb(255, 255, 255),
    0px 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px 0px rgb(255, 255, 255);

  filter: saturate(0%);
  border-radius: 0px;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-80px) rotateY(180deg);
  background-color: rgba(255, 255, 0, 0);
}
.spinner div:nth-of-type(1) > div {
  /* transform: translateZ(-80px) rotateY(180deg); */
  /* background-color: #e81224; */
  /* background-color: rgba(255, 255, 0, 1); */
  background-color: rgba(255, 255, 0, 0.3);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
  background-color: rgba(0, 255, 255, 0);
}
.spinner div:nth-of-type(2) > div {
  /* transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right; */
  /* background-color: #0078d7; */
  /* background-color: rgba(0, 255, 255, 1); */
  background-color: rgba(0, 255, 255, 0.3);
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
  background-color: rgba(255, 0, 0, 0);
}
.spinner div:nth-of-type(3) > div {
  /* transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left; */
  /* background-color: #fff100; */
  /* background-color: rgba(255, 0, 0, 1); */
  background-color: rgba(255, 0, 0, 0.3);
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
  background-color: rgba(255, 0, 255, 0);
}
.spinner div:nth-of-type(4) > div {
  /* transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center; */
  /* background-color: #16c60c; */
  /* background-color: rgba(255, 0, 255, 1); */
  background-color: rgba(255, 0, 255, 0.3);
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
  background-color: rgba(0, 255, 0, 0);
}
.spinner div:nth-of-type(5) > div {
  /* transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center; */
  /* background-color: #886ce4; */
  /* background-color: rgba(0, 255, 0, 1); */
  background-color: rgba(0, 255, 0, 0.3);
}

.spinner div:nth-of-type(6) {
  transform: translateZ(80px);
  background-color: rgba(0, 0, 255, 0);
  /* background-color: rgba(0, 0, 255, 0); */
}
.spinner div:nth-of-type(6) > div {
  /* transform: translateZ(80px); */
  /* background-color: #f7630c; */
  /* background-color: rgba(0, 0, 255, 1); */
  background-color: rgba(0, 0, 255, 0.3);
}

@keyframes spinnerAnimation0 {
  0% {
    transform: rotate(0deg) rotateX(-205deg) rotateY(25deg);
  }
  33% {
    transform: rotate(20deg) rotateX(-50deg) rotateY(250deg);
  }
  66% {
    transform: rotate(5deg) rotateX(-10deg) rotateY(25deg);
  }
  100% {
    transform: rotate(0deg) rotateX(-205deg) rotateY(25deg);
  }
}
@keyframes spinnerAnimation1 {
  0% {
    transform: rotate(38deg) rotateX(-25deg) rotateY(250deg);
  }
  33% {
    transform: rotate(20deg) rotateX(50deg) rotateY(250deg);
  }
  66% {
    transform: rotate(42deg) rotateX(-10deg) rotateY(25deg);
  }
  100% {
    transform: rotate(38deg) rotateX(-25deg) rotateY(250deg);
  }
}
@keyframes spinnerAnimation2 {
  0% {
    transform: rotate(10deg) rotateX(-10deg) rotateY(25deg);
  }
  33% {
    transform: rotate(10deg) rotateX(-10deg) rotateY(50deg);
  }
  66% {
    transform: rotate(42deg) rotateX(50deg) rotateY(125deg);
  }
  100% {
    transform: rotate(10deg) rotateX(-10deg) rotateY(25deg);
  }
}

/* ///////////////////////////////////////////////////////////////////////// */

.game-bar {
  position: absolute;
  bottom: 0.5%;
  width: 100%;
  height: 30%;

  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  color: transparent;
}

.game-bar-time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.game-bar-time > p {
  margin-bottom: -2%;
}
